* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #2b4162;
}

body {
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
  background: #d4d4d4;
}

.clear {
  clear: both;
}

#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
  background-color: #fbfae0;
  padding: 20px;
}

.heading {
  color: #fff;
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #ccc;
}

.heading-sub {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}
.heading__name {
  position: relative;
  top: 4px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}

/* tech -box */
.tech-box__list {
}

.tech-box__heading {
  color: #2b4162;
  margin-bottom: 20px;
  font-size: 18px;
}

.tech-box__item {
  list-style-type: circle;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 18px;
  color: #333333;
}

.project-box {
  position: relative;
  border: 1px dashed #b9b9b9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.project-box:hover {
  background-color: #777;
}
.project-box:hover .project-box__a {
  opacity: 1;
  transform: translateX(0px);
}
.project-box:hover .project-box__desc {
  color: #fff;
}
.project-box:hover .project-box__heading {
  color: #fff;
}
.project-box:hover .skill-box__item {
  border-color: #fff;
}

.project-box__heading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
}
.project-box__desc--sub {
  font-weight: 600;
  margin: auto 0;
  margin-right: 5px;
}

.project-box__a {
  position: absolute;
  top: 100px;
  left: 430px;
  transform: translateX(-100px);
  transition: ease 0.5s;
  opacity: 0;
  display: flex;
  color: #fbfae0;
  justify-content: flex-end;
}
.project-box__icon {
  font-size: 50px;
}

.icon-box {
  display: flex;
  margin-bottom: 10px;
}

.icon-box__icon {
  color: #fff;
  margin-left: 10px;
}
.icon-box__a {
  font-size: 27px;
  color: #fff;
  font-weight: 600;
  border: 0;
}
.icon-box__span {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-size: 16px;
  margin: 0 0 6px 0;
  position: relative;
  color: #2b4162;
  margin-bottom: 20px;
  font-size: 18px;
}

h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #4e4e4e;
  font-weight: normal;
}

p {
  line-height: 33px;
  font-size: 14px;
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 13px;
  color: #4e4e4e;
}

a:hover {
  border-bottom-style: solid;
  color: black;
}

.header_wrap {
  background-color: var(--main-color);
  padding: 10px;
  margin-bottom: 30px;
}

.header__description {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.header__description--a {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  color: #ff9d9d;
}
.header__description--a:hover {
  color: #fff;
}

.skill-box__icon {
  width: 30px;
  height: 30px;
}

.skill-box__list {
  display: flex;
  margin: 12px 0;
}
.skill-box__item {
  display: flex;
  border: 1px solid #000;
  height: fit-content;
  border-radius: 18px;
  padding: 5px;
  margin-right: 7px;
}
.skill-box__name {
  margin: auto 0;
}

dt {
  color: var(--main-color);
  position: relative;
  text-align: right;
  top: 5px;
  font-weight: bold;
  min-width: 50px;
  font-size: 20px;
  margin-left: 30px;
  float: left;
  height: 0;
}

dd {
  border-left: 1px solid #ccc;
  width: 600px;
  padding-left: 20px;
  margin-left: 140px;
  margin-bottom: 30px;
}

dd.clear {
  float: none;
  margin: 0;
  height: 0;
}

.profile {
  width: 210px;
  height: 0;
  border-radius: 30%;
  margin-top: 39px;
  margin-right: 10px;
}

.card {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.skill_box {
  float: left;
  margin-right: 80px;
}

.skill_li {
  font-size: 15px;
}

dt.weapon {
  height: 0;
}

dt.skills {
  height: 0;
}

dt.education {
  height: 0;
}

dt.exp {
  height: 0;
}

dd li {
  font-size: 14px;
}

dd > h2 > a {
  font-size: 13px;
  text-decoration: underline;
}

.exp__mid {
  font-weight: 900;
  font-size: 15px;
}
